/**{
  border:1px solid red !important;
}*/
   .mockup-overlay {
       top: 0;
       position: absolute;
       z-index: -1;
       opacity: 0.4;
    }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: 'Verdana', sans-serif;
  color: #060606;
}

#title-col{
  margin-top: 24px;
}

#title{
  font-size: 50px;
}

li{
  font-size:16px;
  padding-bottom: 10px;
}

#left-col{
  padding-top:20px;
}

#logo{
  margin-bottom:15px;
}

#box {
  margin-top:15px;
  padding-top: 20px;
  padding-bottom: 25px;
}

#box-subtitle {
  color:#f07c17;
  font-weight:bolder;
  font-size: 24px;
  padding-left: 15px; 
  margin-bottom: 10px;
  margin-top: 10px;
}

#box-content {
  padding-left: 55px;
  padding-top: 25px;
}

#article-title-h2{
  margin-bottom:30px;
} 

#article-col {
  margin-left:0px;
}

#article-title {
  color:#f07c17;
  font-weight:bolder;
  font-size: 79%;
  margin-bottom:25px;
}

p {
  font-size:16px;
  line-height: 32px;
  margin-bottom:10px;
}

.border{
  border: 1px solid #ccc;
}




